/.vscode
/airline_paysum
/cl3.work
/day12edu
/day15
/day8study
/fiori16
/fiori17
/fioripractice
/homewk
/jsonedu
/jsontest
/looptest
/math
/package-lock.json
/quiz_01
/split_event
/ux1exam01
/work15
/zcl3_bkpf_06